:root { 
  --cor-primaria:  rgb(133, 76, 3);
  --cor-secundaria: rgb(112, 64, 0);
  --cor-terciaria: #8b8461;
  --cor-hover: rgb(112, 64, 0);
  --img-settings: url('../assets/th-465000214.png') no-repeat center center fixed;
}

[data-theme="blue"] {
  --cor-primaria: rgb(151, 193, 255);
  --cor-secundaria: rgb(0, 36, 194);
  --cor-terciaria: #3C92A6;
  --cor-hover: rgb(0, 36, 194);
  --img-background: url('../assets/th-1335894416.png') no-repeat center center fixed;
}

[data-theme="orange"] {
  --cor-primaria: rgb(0, 14, 78);
  --cor-secundaria: rgb(0, 11, 53);
  --cor-terciaria: #ff9900;
  --cor-hover: rgb(189, 140, 100);
  --img-background: url('../assets/th-1171275518.png') no-repeat center center fixed;
 }

[data-theme="white"] {
  --cor-primaria:  rgb(133, 76, 3);
  --cor-secundaria: rgb(112, 64, 0);
  --cor-terciaria: #8b8461;
  --cor-hover: rgb(112, 64, 0);
  --img-background: url('../assets/th-2905353738.png') no-repeat center center fixed;
}

/* Estilo geral */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background: var(--img-background);
  background-size: cover;
  color: var(--cor-primaria);
  text-align: center;
}

/* Container principal */
.container {
  padding: 0px;
}

/* Estilo do card */
.card {
  background: rgba(255, 255, 255, 0.5);
  color: var(--cor-secundaria);
  border-radius: 8px;
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

/* Estilo da tabela */
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th, td {
  border: 1px solid var(--cor-terciaria);
  padding: 8px;
  text-align: center;
}

th {
  background-color: var(--cor-hover);
  color: rgb(0, 0, 0);
}

/* Botão */
.button {
  display: inline-block;
  margin-top: 20px;  
  padding: 10px 20px;
  background-color: var(--cor-hover);
  color: white;
  text-decoration: none;
  border-radius: 3px;
  transition: background-color 0.6s ease;
  }

.button:hover {
  background-color: var(--cor-hover); /* Corrigido de --cor-houver para --cor-hover */
  color: rgb(0, 0, 0);
  cursor: pointer;
}

/* Títulos */
title {
  font-size: 2.5rem;
}

h1 {
  font-size: 1.8rem;
}

/* Parágrafos */
p {
  font-size: 1.2rem;
  line-height: 1.5;
}

/* Resultado */
.result {
  font-size: 1.5rem;
  margin-top: 20px;
  text-align: center;
}
